{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}


{% block header %}
<header>
  <ul class="nav" id="nav">
    <li class="nav-item">
      <a class="nav-link active" id="pagetitle" aria-current="page" >TalkWith</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('app.login') }}">ログイン</a>
    </li>
  </ul>
</header>
{% endblock header %}

{% block content %}
<form method='POST' class="form">
  {{ form.csrf_token }}
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm_password) }}
    {{ form.submit() }}
  </dl>
</form>
{% endblock content %}